<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  <listener-class>com13.ServletContextListnerImp.MyContextListener</listener-class>
  </listener>
   <listener>
  <listener-class>com14.HttpSessionListenerTest.MyHttpSessionListener</listener-class>
  </listener>
     <listener>
  <listener-class>com15.ServletRequestListenerTest.RequestListenerTest</listener-class>
  </listener>
  
  <context-param>
    <param-name>name</param-name>
    <param-value>zhy</param-value>
  </context-param>
  <context-param>
    <param-name>ps</param-name>
    <param-value>123</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com1.Demo.ServletHello.TestHello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpServletHH</servlet-name>
    <servlet-class>com02.Demo.Usehttpservlet.UseHttpServletHere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletHH</servlet-name>
    <url-pattern>/usehttpservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseEclipse</display-name>
    <servlet-name>UseEclipse</servlet-name>
    <servlet-class>com03.useeclipse.servlet.UseEclipse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseEclipse</servlet-name>
    <url-pattern>/UseEclipseZhy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServlertLoadTest</display-name>
    <servlet-name>ServlertLoadTest</servlet-name>
    <servlet-class>com04.servlertload.ServlertLoadTest</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServlertLoadTest</servlet-name>
    <url-pattern>/ServlertLoadTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletConfig</display-name>
    <servlet-name>TestServletConfig</servlet-name>
    <servlet-class>com05.UseServletConfig.TestServletConfig</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>abc</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletConfig</servlet-name>
    <url-pattern>/TestServletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo11</display-name>
    <servlet-name>Demo11</servlet-name>
    <servlet-class>com06.servletcontext.test.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo11</servlet-name>
    <url-pattern>/Demo11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dem01</display-name>
    <servlet-name>Dem01</servlet-name>
    <servlet-class>com07.ServletContextAttribute.Dem01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dem01</servlet-name>
    <url-pattern>/Dem01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo2</display-name>
    <servlet-name>Demo2</servlet-name>
    <servlet-class>com07.ServletContextAttribute.Demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2</servlet-name>
    <url-pattern>/Demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest</display-name>
    <servlet-name>ResponseTest</servlet-name>
    <servlet-class>com08.ResponseTest.ResponseTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest</servlet-name>
    <url-pattern>/ResponseTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest02</display-name>
    <servlet-name>ResponseTest02</servlet-name>
    <servlet-class>com08.ResponseTest.ResponseTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest02</servlet-name>
    <url-pattern>/ResponseTest02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeRefresh</display-name>
    <servlet-name>TimeRefresh</servlet-name>
    <servlet-class>com09.ResponseTimeRefresh.TimeRefresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeRefresh</servlet-name>
    <url-pattern>/TimeRefresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseStream</display-name>
    <servlet-name>UseStream</servlet-name>
    <servlet-class>com10.SetChineseCode.UseStream</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseStream</servlet-name>
    <url-pattern>/UseStream</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseWriter</display-name>
    <servlet-name>UseWriter</servlet-name>
    <servlet-class>com10.SetChineseCode.UseWriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseWriter</servlet-name>
    <url-pattern>/UseWriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest01</display-name>
    <servlet-name>RequestTest01</servlet-name>
    <servlet-class>com11.RequestDemo.RequestTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest01</servlet-name>
    <url-pattern>/RequestTest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest02</display-name>
    <servlet-name>RequestTest02</servlet-name>
    <servlet-class>com11.RequestDemo.RequestTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest02</servlet-name>
    <url-pattern>/RequestTest02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitServlet</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>com12.UseCookie.VisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/VisitServlet</url-pattern>
  </servlet-mapping>
</web-app>